@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@theme {

/* Primary */
  --color-priym-200: hsl(193, 38%, 86%);  /* Blue 200 */
  --color-priym-300: hsl(150, 100%, 66%); /* Green 300 */

  /* Neutral */
  --color-n-950: hsl(218, 23%, 16%);   /* Blue 950 */
  --color-n-900: hsl(217, 19%, 24%); /* Blue 900 */
  --color-n-600: hsl(217, 19%, 38%); /* Blue 600 */

  --font-Manrope: Manrope, sans-serif;
}

@layer base {
  body {
    @apply font-Manrope bg-n-950 w-full h-screen flex items-center justify-center px-8;
  }
}

@layer components {
  .card {
    @apply bg-n-900 w-full max-w-sm min-h-52 rounded-xl flex flex-col items-center p-7 relative;
  }
  .btn {
    @apply text-3xl w-10 h-10 bg-priym-300 rounded-full absolute -bottom-5 hover:shadow-green-300 hover:shadow-[0_0_25px_8px];
  }
}